/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
HEADER
*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.box-header {
  display: flex;
}

header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header button {
  padding: 0px 25px;
}

header img {
  width: 50px;
}

/*
MAIN
*/
main {
  flex-grow: 1;
  background-color: #7fffd4;
  justify-content: center;
  align-items: center;
  display: flex;
}

.table {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cell {
  background-color: #7fffd4;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-100 {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.cell-81 {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cell-49 {
  width: calc(100% / 7);
  height: calc(100% / 7);
}
/*
FOOTER
*/
footer {
  padding: 5px 20px;
  font-size: 13px;
}
/*
UTILITY
*/
